.ag-theme-alpine {
    --ag-border-color: rgb(240, 240, 240);
    --ag-borders-row: solid 1px;
    --ag-header-height: 30px;
    --ag-header-background-color: rgb(250, 250, 250);
    --ag-cell-horizontal-padding: 8px;
    --ag-row-hover-color: #f3f4f6!important;
    --ag-column-hover-color: red!important;
}