@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
	.router-link-active {
		@apply text-pink-500;
	}

	.size-button{
		@apply text-center py-1 hover:bg-gray-200 rounded-sm active:bg-gray-300;
	}

  .flex-between-center{
		@apply flex justify-between items-center;
	}

  .flex-center{
		@apply flex justify-center items-center;
	}

	.text-input{
		@apply border-b border-gray-200 w-full outline-none p-1;
	}

  .full-absolute{
		@apply flex-center absolute top-0 left-0 w-full h-full bg-black bg-opacity-30;
	}
  
}

@page {
  margin: 0mm 0mm 0mm 0mm;
}

.bg-theme{
  background-color: #243350;
}

.male {
  box-sizing: border-box;
  width: 40mm;
  height: 29.9mm;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.fade-enter-active,
.fade-leave-active {
  transition: 0.3s ease;
  transform-origin: left bottom;
}

.fade-enter-from,
.fade-leave-to {
  transform: scale(0);
  opacity: 0;
}


::-webkit-scrollbar  {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
}
@media print {
  .print{
    display: block;
  }

  .noprint{
    display: none;
  }
}